.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.containers {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.image {
  width: 350px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid white;
  z-index: -1;
}

.containers2 {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}

.image1 {
  width: 300px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid white;
  z-index: -1;
}

.text {
  flex: 1;
}

.main-heading {
  color: black;
  font-size: 26px;
  margin-top: 2rem;
}

.underline {
  height: 2px;
  width: 15rem;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 50px;
}

.second-heading {
  color: red;
}

.underlines {
  height: 2px;
  width: 60rem;
  background-color: red;
  margin-top: 0;
  margin-bottom: 20px;
}

.third-heading {
  color: red;
}


.voiceimg {
  width: 30px;
  border-radius: 100%;
  position: relative;
  right: 4.4rem
}


.send_button {
  margin-right: -2rem;

}